*
  box-sizing border-box

html
  font-size unit($baseFontSize, 'px')

  @media screen and (max-width: 768px)
    font-size 14.5px

  @media screen and (max-width: 480px)
    font-size 13px

#page
  margin 0
  overflow hidden
  padding 0

@import 'partials/navbar'

@import 'partials/footer'